Repository janovincze/philotes: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, CDC Pipeline, Iceberg

codecov.yml:

# Codecov configuration for Philotes
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        # Allow coverage to drop by 1% from base
        target: auto
        threshold: 1%
        # Only fail if coverage is significantly lower
        informational: false
    patch:
      default:
        # Require 80% coverage on new/changed code
        target: 80%
        threshold: 0%
        informational: false

# Ignore certain paths from coverage
ignore:
  - "cmd/**/*"           # Entry points, minimal logic
  - "**/*_test.go"       # Test files
  - "**/mock_*.go"       # Generated mocks
  - "**/mocks/**"        # Mock directories
  - "test/**"            # Test utilities

# Comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag management
flags:
  unittests:
    paths:
      - internal/
    carryforward: true

# Component management (organize coverage by component)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: api
      name: API
      paths:
        - internal/api/**
    - component_id: cdc
      name: CDC Pipeline
      paths:
        - internal/cdc/**
    - component_id: iceberg
      name: Iceberg
      paths:
        - internal/iceberg/**

# GitHub checks configuration
github_checks:
  annotations: true

fix(ci): resolve golangci-lint Go version and dependency review issues
  .github/workflows/ci.yml
  .github/workflows/security.yml
Due: none

fix(ci): lint only new issues on PRs, fix deprecated linter
  .github/workflows/ci.yml
  .golangci.yml
Due: none

fix(ci): address Copilot review - remove || true, fix lint errors
  .github/workflows/ci.yml
  internal/alerting/evaluator_test.go
  internal/alerting/manager_test.go
  internal/alerting/types.go
  internal/iceberg/catalog/rest.go
  internal/iceberg/catalog/rest_test.go
Due: unittests, Iceberg

fix(lint): add explanations to nolint directives
  internal/alerting/evaluator_test.go
  internal/alerting/manager_test.go
  internal/alerting/types.go
  internal/iceberg/catalog/rest_test.go
Due: unittests

feat(scaling): implement scaling engine and policy framework
  deployments/docker/init-scripts/07-scaling-schema.sql
  go.mod
  go.sum
  internal/api/handlers/scaling.go
  internal/api/models/scaling.go
  internal/api/services/scaling.go
  internal/config/config.go
  internal/scaling/evaluator.go
  internal/scaling/executor.go
  internal/scaling/manager.go
  internal/scaling/repository.go
  internal/scaling/service.go
  internal/scaling/types.go
Due: unittests, API

fix(scaling): resolve lint errors - remove stuttering types, fix shadows
  internal/api/handlers/scaling.go
  internal/api/models/scaling.go
  internal/api/services/scaling.go
  internal/scaling/evaluator.go
  internal/scaling/manager.go
  internal/scaling/repository.go
  internal/scaling/service.go
  internal/scaling/types.go
Due: unittests, API

feat(pulumi): implement infrastructure as code with dynamic cloud-init
  deployments/pulumi/Pulumi.dev.yaml
  deployments/pulumi/Pulumi.prod.yaml
  deployments/pulumi/Pulumi.staging.yaml
  deployments/pulumi/Pulumi.yaml
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  deployments/pulumi/main.go
  deployments/pulumi/pkg/cluster/k3s.go
  deployments/pulumi/pkg/cluster/kubeconfig.go
  deployments/pulumi/pkg/config/config.go
  deployments/pulumi/pkg/output/cost.go
  deployments/pulumi/pkg/platform/certmanager.go
  deployments/pulumi/pkg/platform/ingress.go
  deployments/pulumi/pkg/platform/monitoring.go
  deployments/pulumi/pkg/platform/philotes.go
  deployments/pulumi/pkg/platform/platform.go
  deployments/pulumi/pkg/provider/hetzner/compute.go
  deployments/pulumi/pkg/provider/hetzner/loadbalancer.go
  deployments/pulumi/pkg/provider/hetzner/network.go
  deployments/pulumi/pkg/provider/hetzner/provider.go
  deployments/pulumi/pkg/provider/hetzner/storage.go
  deployments/pulumi/pkg/provider/provider.go
  deployments/pulumi/pkg/provider/scaleway/compute.go
  deployments/pulumi/pkg/provider/scaleway/loadbalancer.go
  deployments/pulumi/pkg/provider/scaleway/network.go
  deployments/pulumi/pkg/provider/scaleway/provider.go
  deployments/pulumi/pkg/provider/scaleway/storage.go
  docs/plan/52-dynamic-cloudinit-ips/00-issue-context.md
  docs/plan/52-dynamic-cloudinit-ips/01-research.md
  docs/plan/52-dynamic-cloudinit-ips/02-implementation-plan.md
  docs/plan/52-dynamic-cloudinit-ips/99-session-summary.md
Due: none

fix(deps): update vulnerable dependencies in pulumi module
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
Due: none

fix(alerting): fix flaky test with timing-sensitive boundary check
  internal/alerting/types_test.go
Due: none

fix(dashboard): address Copilot review comments
  web/README.md
  web/src/components/layout/main-nav.tsx
  web/src/lib/api/client.ts
Due: none

feat(dashboard): implement pipeline monitoring dashboard
  docs/plan/13-pipeline-monitoring-dashboard/00-issue-context.md
  docs/plan/13-pipeline-monitoring-dashboard/01-research.md
  docs/plan/13-pipeline-monitoring-dashboard/02-implementation-plan.md
  docs/plan/13-pipeline-monitoring-dashboard/04-implementation.md
  internal/api/handlers/metrics.go
  internal/api/models/metrics.go
  internal/api/server.go
  internal/api/services/metrics.go
  internal/api/services/prometheus.go
  web/src/app/pipelines/[id]/page.tsx
  web/src/app/pipelines/page.tsx
  web/src/components/metrics/index.ts
  web/src/components/metrics/metric-card.tsx
  web/src/components/metrics/metric-chart.tsx
  web/src/components/metrics/time-range-selector.tsx
  web/src/components/pipelines/auto-refresh-toggle.tsx
  web/src/components/pipelines/error-log-viewer.tsx
  web/src/components/pipelines/pipeline-metrics-grid.tsx
  web/src/components/pipelines/pipeline-status-badge.tsx
  web/src/components/pipelines/table-metrics.tsx
  web/src/components/ui/table.tsx
  web/src/lib/api/index.ts
  web/src/lib/api/metrics.ts
  web/src/lib/api/types.ts
  web/src/lib/hooks/use-metrics.ts
  web/src/lib/hooks/use-pipelines.ts
  web/src/lib/utils/format-metrics.ts
Due: unittests, API

fix(metrics): address golangci-lint issues
  internal/api/services/metrics.go
  internal/api/services/prometheus.go
Due: unittests, API

fix: address Copilot review comments
  internal/api/services/metrics.go
  web/src/components/metrics/metric-chart.tsx
  web/src/lib/utils/format-metrics.ts
Due: unittests, API

feat(dashboard): implement scaling configuration UI
  web/src/app/scaling/[id]/edit/page.tsx
  web/src/app/scaling/[id]/page.tsx
  web/src/app/scaling/new/page.tsx
  web/src/app/scaling/page.tsx
  web/src/components/layout/main-nav.tsx
  web/src/components/scaling/rule-editor.tsx
  web/src/components/scaling/scale-state-card.tsx
  web/src/components/scaling/scaling-history-table.tsx
  web/src/components/scaling/scaling-policy-card.tsx
  web/src/components/scaling/scaling-policy-form.tsx
  web/src/components/scaling/schedule-editor.tsx
  web/src/components/ui/form.tsx
  web/src/lib/api/index.ts
  web/src/lib/api/scaling.ts
  web/src/lib/api/types.ts
  web/src/lib/hooks/use-scaling.ts
Due: none

feat(dashboard): implement setup wizard for first-time users
  docs/plan/12-setup-wizard/00-issue-context.md
  docs/plan/12-setup-wizard/01-research.md
  docs/plan/12-setup-wizard/02-implementation-plan.md
  docs/plan/12-setup-wizard/99-session-summary.md
  web/package-lock.json
  web/package.json
  web/src/app/setup/page.tsx
  web/src/components/setup/setup-wizard.tsx
  web/src/components/setup/step-configure.tsx
  web/src/components/setup/step-connect.tsx
  web/src/components/setup/step-review.tsx
  web/src/components/setup/step-success.tsx
  web/src/components/setup/step-tables.tsx
  web/src/components/setup/step-welcome.tsx
  web/src/components/setup/wizard-progress.tsx
  web/src/components/ui/checkbox.tsx
  web/src/lib/api/sources.ts
  web/src/lib/api/types.ts
  web/src/lib/hooks/use-sources.ts
Due: none

feat(auth): implement authentication system with API keys and JWT
  cmd/philotes-api/main.go
  deployments/docker/init-scripts/08-auth-schema.sql
  docs/plan/10-authentication-system/00-issue-context.md
  docs/plan/10-authentication-system/01-research.md
  docs/plan/10-authentication-system/02-implementation-plan.md
  docs/plan/10-authentication-system/99-session-summary.md
  go.mod
  go.sum
  internal/api/handlers/api_keys.go
  internal/api/handlers/auth.go
  internal/api/middleware/auth.go
  internal/api/models/auth.go
  internal/api/repositories/api_key.go
  internal/api/repositories/audit.go
  internal/api/repositories/user.go
  internal/api/server.go
  internal/api/services/api_key.go
  internal/api/services/auth.go
  internal/config/config.go
Due: unittests, API

fix(auth): address code review findings
  cmd/philotes-api/main.go
  internal/api/handlers/api_keys.go
  internal/api/middleware/auth.go
  internal/api/server.go
  internal/api/services/api_key.go
  internal/api/services/auth.go
Due: unittests, API

fix(auth): address lint errors
  internal/api/handlers/api_keys.go
  internal/api/models/auth.go
  internal/api/repositories/audit.go
  internal/api/server.go
  internal/api/services/api_key.go
  internal/api/services/auth.go
Due: unittests, API

fix(auth): remove unnecessary block in auth handler
  internal/api/handlers/auth.go
Due: unittests, API

fix(auth): address Copilot review comments
  deployments/docker/init-scripts/08-auth-schema.sql
  internal/api/models/auth.go
  internal/api/services/api_key.go
Due: unittests, API

feat(infra): add OVHcloud, Exoscale, and Contabo providers
  deployments/pulumi/go.mod
  deployments/pulumi/go.sum
  deployments/pulumi/main.go
  deployments/pulumi/pkg/config/config.go
  deployments/pulumi/pkg/output/cost.go
  deployments/pulumi/pkg/provider/contabo/compute.go
  deployments/pulumi/pkg/provider/contabo/loadbalancer.go
  deployments/pulumi/pkg/provider/contabo/network.go
  deployments/pulumi/pkg/provider/contabo/provider.go
  deployments/pulumi/pkg/provider/contabo/storage.go
  deployments/pulumi/pkg/provider/exoscale/compute.go
  deployments/pulumi/pkg/provider/exoscale/loadbalancer.go
  deployments/pulumi/pkg/provider/exoscale/network.go
  deployments/pulumi/pkg/provider/exoscale/provider.go
  deployments/pulumi/pkg/provider/exoscale/storage.go
  deployments/pulumi/pkg/provider/ovh/compute.go
  deployments/pulumi/pkg/provider/ovh/loadbalancer.go
  deployments/pulumi/pkg/provider/ovh/network.go
  deployments/pulumi/pkg/provider/ovh/provider.go
  deployments/pulumi/pkg/provider/ovh/storage.go
  docs/plan/3-infrastructure-as-code/00-issue-context.md
  docs/plan/3-infrastructure-as-code/01-research.md
  docs/plan/3-infrastructure-as-code/02-implementation-plan.md
  docs/plan/3-infrastructure-as-code/99-session-summary.md
Due: none

fix(iac): address Copilot review comments
  deployments/pulumi/pkg/output/cost.go
  deployments/pulumi/pkg/provider/exoscale/network.go
  deployments/pulumi/pkg/provider/ovh/compute.go
Due: none

feat(pulumi): implement secure SSH key management
  deployments/pulumi/pkg/cluster/kubeconfig.go
  deployments/pulumi/pkg/config/config.go
  deployments/pulumi/pkg/platform/platform.go
  deployments/pulumi/pkg/sshkeys/file.go
  deployments/pulumi/pkg/sshkeys/provider.go
  deployments/pulumi/pkg/sshkeys/pulumi.go
  deployments/pulumi/pkg/sshkeys/vault.go
  docs/plan/54-secure-ssh-key-management/00-issue-context.md
  docs/plan/54-secure-ssh-key-management/01-research.md
  docs/plan/54-secure-ssh-key-management/02-implementation-plan.md
  docs/plan/54-secure-ssh-key-management/99-session-summary.md
Due: none

fix(sshkeys): address Copilot review comments
  deployments/pulumi/pkg/cluster/kubeconfig.go
  deployments/pulumi/pkg/sshkeys/provider.go
Due: none

feat(pulumi): deploy Helm charts from OCI registry
  .github/workflows/helm-release.yml
  deployments/pulumi/pkg/config/config.go
  deployments/pulumi/pkg/platform/philotes.go
  docs/plan/53-helm-oci-registry/00-issue-context.md
  docs/plan/53-helm-oci-registry/01-research.md
  docs/plan/53-helm-oci-registry/02-implementation-plan.md
  docs/plan/53-helm-oci-registry/99-session-summary.md
Due: none

feat(installer): implement one-click cloud installer foundation
  deployments/docker/init-scripts/10-installer-schema.sql
  docs/plan/31-one-click-installer/00-issue-context.md
  docs/plan/31-one-click-installer/01-research.md
  docs/plan/31-one-click-installer/02-implementation-plan.md
  docs/plan/31-one-click-installer/99-session-summary.md
  go.mod
  go.sum
  internal/api/handlers/installer.go
  internal/api/models/installer.go
  internal/api/repositories/deployment.go
  internal/api/server.go
  internal/api/services/installer.go
  internal/installer/providers.go
  internal/installer/pulumi.go
  internal/installer/websocket.go
  web/package-lock.json
  web/package.json
  web/src/app/install/[provider]/page.tsx
  web/src/app/install/deploy/[id]/page.tsx
  web/src/app/install/page.tsx
  web/src/components/ui/scroll-area.tsx
  web/src/components/ui/textarea.tsx
  web/src/lib/api/index.ts
  web/src/lib/api/installer.ts
  web/src/lib/api/types.ts
  web/src/lib/hooks/use-installer.ts
Due: unittests, API

fix(installer): address code review findings
  internal/installer/pulumi.go
  internal/installer/websocket.go
  web/src/app/install/[provider]/page.tsx
  web/src/app/install/deploy/[id]/page.tsx
  web/src/app/install/page.tsx
  web/src/components/ui/textarea.tsx
Due: unittests

fix(installer): address lint errors and Copilot review comments
  internal/api/handlers/installer.go
  internal/api/models/installer.go
  internal/api/repositories/deployment.go
  internal/installer/pulumi.go
  internal/installer/websocket.go
  web/src/lib/hooks/use-installer.ts
Due: unittests, API

fix(installer): fix remaining lint issues
  internal/api/handlers/installer.go
  internal/api/models/installer.go
  internal/api/services/installer.go
  web/src/app/install/deploy/[id]/page.tsx
  web/src/lib/api/types.ts
Due: unittests, API

feat(oauth): implement cloud provider OAuth integration
  deployments/docker/init-scripts/11-oauth-schema.sql
  docs/plan/32-oauth-integration/00-issue-context.md
  docs/plan/32-oauth-integration/01-research.md
  docs/plan/32-oauth-integration/02-implementation-plan.md
  docs/plan/32-oauth-integration/99-session-summary.md
  internal/api/handlers/oauth.go
  internal/api/models/installer.go
  internal/api/models/oauth.go
  internal/api/repositories/oauth.go
  internal/api/server.go
  internal/api/services/oauth.go
  internal/config/config.go
  internal/crypto/encryption.go
  internal/installer/oauth/hetzner.go
  internal/installer/oauth/ovh.go
  internal/installer/oauth/providers.go
  internal/installer/providers.go
  web/src/app/install/[provider]/page.tsx
  web/src/app/install/oauth/callback/page.tsx
  web/src/components/installer/index.ts
  web/src/components/installer/manual-credentials.tsx
  web/src/components/installer/oauth-connect.tsx
  web/src/lib/api/index.ts
  web/src/lib/api/oauth.ts
  web/src/lib/api/types.ts
  web/src/lib/hooks/use-oauth.ts
Due: unittests, API

fix(oauth): address code review findings
  docs/plan/32-oauth-integration/99-session-summary.md
  internal/api/repositories/oauth.go
  internal/api/services/oauth.go
  internal/config/config.go
  internal/installer/oauth/providers.go
Due: unittests, API

fix(oauth): address Copilot code review comments
  internal/api/repositories/oauth.go
  internal/api/services/oauth.go
  internal/installer/oauth/providers.go
  web/src/app/install/oauth/callback/page.tsx
  web/src/lib/api/oauth.ts
Due: unittests, API

docs: update session summary with all code review fixes
  docs/plan/32-oauth-integration/99-session-summary.md
Due: none

fix(oauth): address golangci-lint errors in CI
  internal/api/models/oauth.go
  internal/api/repositories/oauth.go
  internal/api/services/oauth.go
Due: unittests, API

fix(oauth): add nolint directive for tx.Rollback in defer
  internal/api/services/oauth.go
Due: unittests, API

docs: update session summary with all CI lint fixes
  docs/plan/32-oauth-integration/99-session-summary.md
Due: none

feat(installer): add deployment progress dashboard with real-time tracking
  internal/api/handlers/installer.go
  internal/api/models/installer.go
  internal/api/server.go
  internal/api/services/installer.go
  internal/installer/errors.go
  internal/installer/errors_test.go
  internal/installer/progress.go
  internal/installer/progress_test.go
  internal/installer/pulumi.go
  internal/installer/retry.go
  internal/installer/retry_test.go
  internal/installer/tracker.go
  internal/installer/tracker_test.go
  internal/installer/websocket.go
  web/package-lock.json
  web/package.json
  web/src/app/install/deploy/[id]/page.tsx
  web/src/components/deployment/cancel-dialog.tsx
  web/src/components/deployment/error-card.tsx
  web/src/components/deployment/index.ts
  web/src/components/deployment/log-viewer.tsx
  web/src/components/deployment/progress-bar.tsx
  web/src/components/deployment/share-button.tsx
  web/src/components/deployment/step-item.tsx
  web/src/components/deployment/steps.tsx
  web/src/components/deployment/sub-step-item.tsx
  web/src/components/deployment/success-celebration.tsx
  web/src/components/deployment/time-estimate.tsx
  web/src/components/ui/alert-dialog.tsx
  web/src/components/ui/collapsible.tsx
  web/src/components/ui/popover.tsx
  web/src/lib/api/index.ts
  web/src/lib/api/installer.ts
  web/src/lib/api/types.ts
  web/src/lib/hooks/use-installer.ts
Due: unittests, API

fix: address CI lint errors and Copilot review comments
  internal/installer/progress.go
  internal/installer/progress_test.go
  internal/installer/pulumi.go
  internal/installer/retry.go
  internal/installer/retry_test.go
  internal/installer/tracker.go
  web/src/app/install/deploy/[id]/page.tsx
  web/src/components/deployment/time-estimate.tsx
Due: unittests

fix: fix remaining rangeValCopy lint errors
  internal/installer/pulumi.go
  internal/installer/retry.go
Due: unittests
