Repository janovincze/philotes: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, CDC Pipeline, Iceberg

codecov.yml:

# Codecov configuration for Philotes
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  status:
    project:
      default:
        # Allow coverage to drop by 1% from base
        target: auto
        threshold: 1%
        # Only fail if coverage is significantly lower
        informational: false
    patch:
      default:
        # Require 80% coverage on new/changed code
        target: 80%
        threshold: 0%
        informational: false

# Ignore certain paths from coverage
ignore:
  - "cmd/**/*"           # Entry points, minimal logic
  - "**/*_test.go"       # Test files
  - "**/mock_*.go"       # Generated mocks
  - "**/mocks/**"        # Mock directories
  - "test/**"            # Test utilities

# Comment configuration
comment:
  layout: "header, diff, flags, components, files"
  behavior: default
  require_changes: true
  require_base: false
  require_head: true

# Flag management
flags:
  unittests:
    paths:
      - internal/
    carryforward: true

# Component management (organize coverage by component)
component_management:
  default_rules:
    statuses:
      - type: project
        target: auto
        threshold: 1%
  individual_components:
    - component_id: api
      name: API
      paths:
        - internal/api/**
    - component_id: cdc
      name: CDC Pipeline
      paths:
        - internal/cdc/**
    - component_id: iceberg
      name: Iceberg
      paths:
        - internal/iceberg/**

# GitHub checks configuration
github_checks:
  annotations: true

feat(onboarding): implement 7-step post-installation setup wizard
  deployments/docker/init-scripts/12-onboarding-schema.sql
  internal/api/handlers/auth.go
  internal/api/handlers/onboarding.go
  internal/api/models/error.go
  internal/api/models/onboarding.go
  internal/api/repositories/onboarding.go
  internal/api/repositories/user.go
  internal/api/server.go
  internal/api/services/auth.go
  internal/api/services/onboarding.go
  web/src/app/onboarding/page.tsx
  web/src/components/onboarding/index.ts
  web/src/components/onboarding/onboarding-progress.tsx
  web/src/components/onboarding/onboarding-wizard.tsx
  web/src/components/onboarding/step-admin-user.tsx
  web/src/components/onboarding/step-alert-config.tsx
  web/src/components/onboarding/step-cluster-health.tsx
  web/src/components/onboarding/step-complete.tsx
  web/src/components/onboarding/step-data-verification.tsx
  web/src/components/onboarding/step-pipeline-wrapper.tsx
  web/src/components/onboarding/step-source-wrapper.tsx
  web/src/components/onboarding/step-sso-config.tsx
  web/src/components/ui/alert.tsx
  web/src/lib/api/index.ts
  web/src/lib/api/onboarding.ts
  web/src/lib/api/types.ts
  web/src/lib/hooks/use-onboarding.ts
  web/src/lib/hooks/use-pipelines.ts
Due: unittests, API

fix(onboarding): address lint errors and Copilot review comments
  internal/api/models/onboarding.go
  internal/api/repositories/onboarding.go
  internal/api/services/onboarding.go
  web/src/components/onboarding/onboarding-wizard.tsx
Due: unittests, API

feat(auth): implement OIDC/SSO integration (#19)
  deployments/docker/init-scripts/13-oidc-schema.sql
  docs/plan/19-oidc-sso-integration/00-issue-context.md
  docs/plan/19-oidc-sso-integration/01-research.md
  docs/plan/19-oidc-sso-integration/02-implementation-plan.md
  docs/plan/19-oidc-sso-integration/04-phase2-implementation.md
  docs/plan/19-oidc-sso-integration/05-phase3-implementation.md
  docs/plan/19-oidc-sso-integration/06-phase4-implementation.md
  docs/plan/19-oidc-sso-integration/07-phase5-testing.md
  internal/api/handlers/oidc.go
  internal/api/models/auth.go
  internal/api/models/oidc.go
  internal/api/models/oidc_test.go
  internal/api/repositories/oidc.go
  internal/api/repositories/user.go
  internal/api/server.go
  internal/api/services/oidc.go
  internal/config/config.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  internal/oidc/providers/auth0.go
  internal/oidc/providers/azure.go
  internal/oidc/providers/generic.go
  internal/oidc/providers/google.go
  internal/oidc/providers/okta.go
  internal/oidc/providers/registry.go
  internal/oidc/providers/registry_test.go
  web/pnpm-lock.yaml
  web/src/app/auth/oidc/callback/page.tsx
  web/src/components/auth/oidc-login-button.tsx
  web/src/components/auth/oidc-login-section.tsx
  web/src/components/onboarding/step-sso-config.tsx
  web/src/components/settings/oidc-provider-form.tsx
  web/src/components/settings/oidc-providers-list.tsx
  web/src/components/ui/dialog.tsx
  web/src/lib/api/index.ts
  web/src/lib/api/oidc.ts
  web/src/lib/api/types.ts
  web/src/lib/hooks/use-oidc.ts
Due: unittests, API

fix(oidc): address lint errors and Copilot review comments
  internal/api/handlers/oidc.go
  internal/api/models/oidc.go
  internal/api/repositories/oidc.go
  internal/api/services/oidc.go
  internal/oidc/client.go
  internal/oidc/client_test.go
  web/src/components/onboarding/step-sso-config.tsx
  web/src/components/settings/oidc-provider-form.tsx
  web/src/lib/hooks/use-oidc.ts
Due: unittests, API

fix(oidc): add nolint directives for intentional error discards
  docs/plan/26-scaling-engine/00-issue-context.md
  docs/plan/26-scaling-engine/01-research.md
  docs/plan/26-scaling-engine/02-implementation-plan.md
  docs/plan/27-scaling-configuration-ui/00-issue-context.md
  docs/plan/27-scaling-configuration-ui/01-research.md
  docs/plan/27-scaling-configuration-ui/02-implementation-plan.md
  internal/api/repositories/oidc.go
  internal/api/services/oidc.go
  internal/oidc/client_test.go
Due: unittests, API

fix(oidc): add explanations to nolint directives
  internal/oidc/client_test.go
Due: none

feat(scaling): implement infrastructure node auto-scaling (#28)
  deployments/docker/init-scripts/14-node-scaling-schema.sql
  go.mod
  go.sum
  internal/api/handlers/nodepool.go
  internal/api/models/nodepool.go
  internal/api/server.go
  internal/api/services/nodepool.go
  internal/config/config.go
  internal/scaling/cloudprovider/contabo/contabo.go
  internal/scaling/cloudprovider/exoscale/exoscale.go
  internal/scaling/cloudprovider/hetzner/hetzner.go
  internal/scaling/cloudprovider/ovh/ovh.go
  internal/scaling/cloudprovider/provider.go
  internal/scaling/cloudprovider/scaleway/scaleway.go
  internal/scaling/kubernetes/client.go
  internal/scaling/kubernetes/drain.go
  internal/scaling/kubernetes/monitor.go
  internal/scaling/node_executor.go
  internal/scaling/nodepool/manager.go
  internal/scaling/nodepool/models.go
  internal/scaling/nodepool/repository.go
Due: unittests, API

fix(scaling): address lint errors
  internal/alerting/manager.go
  internal/api/handlers/nodepool.go
  internal/api/models/alert.go
  internal/api/models/nodepool.go
  internal/api/models/pipeline.go
  internal/api/repositories/alert_repository.go
  internal/api/repositories/source.go
  internal/api/server_test.go
  internal/api/services/nodepool.go
  internal/api/services/source_test.go
  internal/cdc/buffer/postgres.go
  internal/cdc/pipeline/state_test.go
  internal/iceberg/catalog/rest.go
  internal/iceberg/schema/types.go
  internal/scaling/cloudprovider/contabo/contabo.go
  internal/scaling/cloudprovider/exoscale/exoscale.go
  internal/scaling/cloudprovider/hetzner/hetzner.go
  internal/scaling/cloudprovider/ovh/ovh.go
  internal/scaling/cloudprovider/provider.go
  internal/scaling/cloudprovider/scaleway/scaleway.go
  internal/scaling/kubernetes/client.go
  internal/scaling/kubernetes/monitor.go
  internal/scaling/node_executor.go
  internal/scaling/nodepool/manager.go
  internal/scaling/nodepool/models.go
  internal/vault/secrets.go
Due: unittests, API, CDC Pipeline, Iceberg

fix(scaling): address remaining lint errors
  internal/api/handlers/nodepool.go
  internal/api/services/nodepool.go
  internal/scaling/cloudprovider/contabo/contabo.go
  internal/scaling/cloudprovider/exoscale/exoscale.go
  internal/scaling/cloudprovider/ovh/ovh.go
  internal/scaling/cloudprovider/scaleway/scaleway.go
  internal/scaling/kubernetes/drain.go
  internal/scaling/kubernetes/monitor.go
  internal/scaling/node_executor.go
  internal/scaling/nodepool/manager.go
Due: unittests, API

fix(scaling): use non-deprecated SDK fields
  internal/scaling/cloudprovider/hetzner/hetzner.go
  internal/scaling/cloudprovider/scaleway/scaleway.go
Due: unittests

feat(scaling): implement scale-to-zero functionality
  deployments/docker/init-scripts/15-scale-to-zero-schema.sql
  docs/plan/29-scale-to-zero/00-issue-context.md
  docs/plan/29-scale-to-zero/01-research.md
  docs/plan/29-scale-to-zero/02-implementation-plan.md
  docs/plan/29-scale-to-zero/99-session-summary.md
  internal/api/handlers/wake.go
  internal/api/models/wake.go
  internal/api/services/wake.go
  internal/config/config.go
  internal/scaling/idle/detector.go
  internal/scaling/idle/metrics.go
  internal/scaling/idle/repository.go
  internal/scaling/types.go
  internal/scaling/wake/trigger.go
Due: unittests, API

fix(scaling): address lint errors in scale-to-zero
  internal/api/services/wake.go
  internal/scaling/idle/repository.go
  internal/scaling/types.go
  internal/scaling/wake/trigger.go
Due: unittests, API

fix(scaling): add omitempty to PolicyName field
  internal/api/models/wake.go
Due: unittests, API

feat(query): implement Trino configuration and integration (#21)
  charts/trino/Chart.yaml
  charts/trino/templates/_helpers.tpl
  charts/trino/templates/configmap-catalogs.yaml
  charts/trino/templates/configmap.yaml
  charts/trino/templates/deployment-coordinator.yaml
  charts/trino/templates/deployment-worker.yaml
  charts/trino/templates/hpa.yaml
  charts/trino/templates/ingress.yaml
  charts/trino/templates/service.yaml
  charts/trino/templates/serviceaccount.yaml
  charts/trino/templates/servicemonitor.yaml
  charts/trino/values.yaml
  deployments/docker/docker-compose.yml
  deployments/docker/trino/catalog/iceberg.properties
  deployments/docker/trino/config.properties
  deployments/docker/trino/jvm.config
  deployments/docker/trino/log.properties
  deployments/docker/trino/node.properties
  docs/plan/21-trino-integration/PLAN.md
  docs/query/sample-queries.sql
  docs/query/trino-setup.md
  internal/api/handlers/query.go
  internal/api/models/query.go
  internal/api/server.go
  internal/api/services/query.go
  internal/config/config.go
Due: unittests, API

fix(query): address lint errors and security issues
  deployments/docker/docker-compose.yml
  deployments/docker/trino/catalog/iceberg.properties
  internal/api/handlers/query.go
  internal/api/models/query.go
  internal/api/services/query.go
Due: unittests, API

feat(scaling): implement query engine auto-scaling (#30)
  charts/trino/templates/hpa.yaml
  charts/trino/templates/scaledobject.yaml
  charts/trino/values.yaml
  deployments/docker/init-scripts/16-query-scaling-schema.sql
  internal/api/handlers/queryscaling.go
  internal/api/models/queryscaling.go
  internal/api/server.go
  internal/api/services/queryscaling.go
  internal/config/config.go
  internal/scaling/query/collector.go
  internal/scaling/query/policy.go
Due: unittests, API

fix(scaling): address lint errors and review comments
  charts/trino/values.yaml
  deployments/docker/init-scripts/16-query-scaling-schema.sql
  internal/api/handlers/queryscaling.go
  internal/api/services/queryscaling.go
  internal/scaling/query/policy.go
Due: unittests, API

feat(auth): implement RBAC and multi-tenancy foundation (#20)
  deployments/docker/init-scripts/17-rbac-multi-tenancy-schema.sql
  internal/api/handlers/tenant.go
  internal/api/middleware/tenant.go
  internal/api/models/auth.go
  internal/api/models/pipeline.go
  internal/api/models/source.go
  internal/api/models/tenant.go
  internal/api/repositories/pipeline.go
  internal/api/repositories/role.go
  internal/api/repositories/source.go
  internal/api/repositories/tenant.go
  internal/api/server.go
  internal/api/services/tenant.go
  internal/config/config.go
Due: unittests, API

fix(auth): address lint errors and Copilot review comments
  internal/api/models/tenant.go
  internal/api/repositories/pipeline.go
  internal/api/repositories/role.go
  internal/api/repositories/tenant.go
Due: unittests, API

feat: add sample database, getting started guide, and E2E tests
  Makefile
  README.md
  deployments/docker/docker-compose.yml
  deployments/docker/grafana/provisioning/dashboards/dashboard.yml
  deployments/docker/grafana/provisioning/dashboards/dashboards.yml
  deployments/docker/grafana/provisioning/datasources/datasource.yml
  deployments/docker/init-scripts-source/01-ecommerce-schema.sql
  deployments/docker/init-scripts-source/02-ecommerce-seed.sql
  docs/guides/getting-started.md
  docs/plan/92-sample-database-e2e-tests/00-issue-context.md
  docs/plan/92-sample-database-e2e-tests/02-implementation-plan.md
  docs/plan/92-sample-database-e2e-tests/99-session-summary.md
  tests/e2e/cdc_flow_test.go
  tests/e2e/pipeline_test.go
  tests/e2e/setup_test.go
  tests/e2e/source_test.go
  tools/datagen/main.go
Due: none

fix(e2e): fix API response parsing to match wrapper format
  docs/plan/92-sample-database-e2e-tests/99-session-summary.md
  tests/e2e/cdc_flow_test.go
  tests/e2e/pipeline_test.go
  tests/e2e/setup_test.go
  tests/e2e/source_test.go
Due: none

feat(iceberg): add warehouse auto-bootstrap for Lakekeeper
  cmd/philotes-worker/main.go
  internal/config/config.go
  internal/iceberg/catalog/catalog.go
  internal/iceberg/catalog/rest.go
  internal/iceberg/writer/writer.go
Due: unittests, Iceberg

feat(dashboard): implement click-up experience improvements (#94)
  cmd/philotes-api/main.go
  deployments/docker/docker-compose.yml
  docs/plan/20-rbac-multi-tenancy/00-issue-context.md
  docs/plan/20-rbac-multi-tenancy/01-research.md
  docs/plan/20-rbac-multi-tenancy/02-implementation-plan.md
  docs/plan/30-query-engine-autoscaling/00-issue-context.md
  docs/plan/30-query-engine-autoscaling/01-research.md
  docs/plan/30-query-engine-autoscaling/02-implementation-plan.md
  internal/api/handlers/pipelines.go
  internal/api/handlers/query.go
  internal/api/models/pipeline.go
  internal/api/models/query.go
  internal/api/server.go
  internal/api/services/onboarding.go
  internal/api/services/pipeline.go
  internal/api/services/query.go
  test/e2e/click_up_test.go
  web/src/app/alerts/page.tsx
  web/src/app/pipelines/[id]/page.tsx
  web/src/app/sources/[id]/page.tsx
  web/src/app/sources/new/page.tsx
  web/src/app/sources/page.tsx
  web/src/components/layout/main-nav.tsx
  web/src/components/onboarding/step-pipeline-wrapper.tsx
  web/src/components/setup/setup-wizard.tsx
  web/src/components/setup/step-configure.tsx
  web/src/lib/api/alerts.ts
  web/src/lib/hooks/use-alerts.ts
Due: unittests, API

fix(e2e): address lint errors and Copilot review comments
  docs/plan/92-sample-database-e2e-tests/02-implementation-plan.md
  tools/datagen/main.go
Due: none

fix(e2e): refactor datagen to use run() pattern for proper defer handling
  tools/datagen/main.go
Due: none

feat(api): add query execute endpoint for user SQL queries
  internal/api/handlers/query.go
  internal/api/models/query.go
  internal/api/services/query.go
Due: unittests, API

feat(dashboard): add Query page with Monaco SQL editor
  web/package-lock.json
  web/package.json
  web/src/app/query/page.tsx
  web/src/components/layout/main-nav.tsx
  web/src/components/query/query-templates.tsx
  web/src/components/query/results-table.tsx
  web/src/components/query/sql-editor.tsx
  web/src/lib/api/types.ts
  web/src/lib/hooks/use-query.ts
Due: none

docs: add MVP dashboard session summary for next session
  docs/plan/mvp-dashboard-click-to-query/session-summary.md
Due: none

feat(dashboard): add auto-complete, query history, and error highlighting to Query page
  web/src/app/query/page.tsx
  web/src/components/query/query-history.tsx
  web/src/components/query/sql-editor.tsx
  web/src/lib/api/types.ts
  web/src/lib/hooks/use-query.ts
Due: none

fix(api): handle error return from regexp.MatchString
  internal/api/services/query.go
Due: unittests, API

feat(dashboard): add unified Quick Start wizard (5 steps)
  docs/plan/98-quickstart-wizard/00-issue-context.md
  docs/plan/98-quickstart-wizard/01-research.md
  docs/plan/98-quickstart-wizard/02-implementation-plan.md
  docs/plan/98-quickstart-wizard/99-session-summary.md
  web/src/app/onboarding/page.tsx
  web/src/app/quickstart/page.tsx
  web/src/app/setup/page.tsx
  web/src/components/quickstart/quickstart-wizard.tsx
  web/src/components/quickstart/step-complete.tsx
  web/src/components/quickstart/step-verify.tsx
  web/src/components/quickstart/step-welcome.tsx
  web/src/components/quickstart/wizard-progress.tsx
Due: none

feat(dagster): add dagster-philotes integration package
  dagster-philotes/README.md
  dagster-philotes/dagster_philotes/__init__.py
  dagster-philotes/dagster_philotes/assets.py
  dagster-philotes/dagster_philotes/client.py
  dagster-philotes/dagster_philotes/examples/__init__.py
  dagster-philotes/dagster_philotes/examples/basic_pipeline.py
  dagster-philotes/dagster_philotes/examples/definitions.py
  dagster-philotes/dagster_philotes/examples/with_dbt.py
  dagster-philotes/dagster_philotes/exceptions.py
  dagster-philotes/dagster_philotes/models/__init__.py
  dagster-philotes/dagster_philotes/models/metrics.py
  dagster-philotes/dagster_philotes/models/pipeline.py
  dagster-philotes/dagster_philotes/models/source.py
  dagster-philotes/dagster_philotes/ops.py
  dagster-philotes/dagster_philotes/resources.py
  dagster-philotes/dagster_philotes/sensors.py
  dagster-philotes/pyproject.toml
  dagster-philotes/tests/__init__.py
  dagster-philotes/tests/conftest.py
  dagster-philotes/tests/test_client.py
  dagster-philotes/tests/test_resources.py
  dagster-philotes/tests/test_sensors.py
  deployments/docker/dagster/dagster.yaml
  deployments/docker/dagster/workspace.yaml
  deployments/docker/docker-compose.yml
  docs/plan/24-dagster-integration/00-issue-context.md
  docs/plan/24-dagster-integration/01-research.md
  docs/plan/24-dagster-integration/02-implementation-plan.md
  docs/plan/24-dagster-integration/99-session-summary.md
Due: none

fix(dagster): rename schema_name to schema in TableMetrics
  dagster-philotes/dagster_philotes/assets.py
  dagster-philotes/dagster_philotes/models/metrics.py
Due: none

fix(dagster): pin Docker image versions and fix module paths
  deployments/docker/dagster/dagster.yaml
  deployments/docker/docker-compose.yml
  docs/plan/24-dagster-integration/02-implementation-plan.md
Due: none

feat(auth): add Dagster RBAC proxy for Dagster OSS
  Makefile
  cmd/philotes-dagster-proxy/main.go
  deployments/docker/Dockerfile.dagster-proxy
  deployments/docker/docker-compose.yml
  deployments/docker/init-scripts/04-dagster-rbac-schema.sql
  docs/plan/103-dagster-rbac-proxy/00-issue-context.md
  docs/plan/103-dagster-rbac-proxy/01-research.md
  docs/plan/103-dagster-rbac-proxy/02-implementation-plan.md
  docs/plan/103-dagster-rbac-proxy/99-session-summary.md
  go.mod
  go.sum
  internal/dagster-proxy/audit/logger.go
  internal/dagster-proxy/auth/checker.go
  internal/dagster-proxy/auth/matcher.go
  internal/dagster-proxy/auth/matcher_test.go
  internal/dagster-proxy/auth/permissions.go
  internal/dagster-proxy/config/config.go
  internal/dagster-proxy/graphql/extractor.go
  internal/dagster-proxy/graphql/extractor_test.go
  internal/dagster-proxy/graphql/operations.go
  internal/dagster-proxy/graphql/parser.go
  internal/dagster-proxy/graphql/parser_test.go
  internal/dagster-proxy/graphql/transformer.go
  internal/dagster-proxy/handler/handler.go
  internal/dagster-proxy/handler/proxy.go
  internal/dagster-proxy/handler/websocket.go
Due: unittests

feat(dashboard): add Dagster RBAC management UI
  cmd/philotes-api/main.go
  docs/plan/103-dagster-rbac-proxy/99-session-summary.md
  internal/api/handlers/dagster_rbac.go
  internal/api/models/auth.go
  internal/api/repositories/dagster_rbac.go
  internal/api/server.go
  web/src/app/settings/page.tsx
  web/src/lib/api/dagster-rbac.ts
  web/src/lib/api/index.ts
  web/src/lib/api/types.ts
  web/src/lib/hooks/use-dagster-rbac.ts
Due: unittests, API

fix(dagster-rbac): address code review findings
  cmd/philotes-api/main.go
  internal/api/handlers/dagster_rbac.go
  internal/api/server.go
  web/src/app/settings/page.tsx
Due: unittests, API

fix: address golangci-lint errors
  cmd/philotes-dagster-proxy/main.go
  internal/api/handlers/dagster_rbac.go
  internal/api/models/auth.go
  internal/api/repositories/dagster_rbac.go
  internal/dagster-proxy/graphql/extractor.go
  internal/dagster-proxy/graphql/parser.go
  internal/dagster-proxy/graphql/parser_test.go
  internal/dagster-proxy/graphql/transformer.go
  internal/dagster-proxy/handler/handler.go
  internal/dagster-proxy/handler/proxy.go
  internal/dagster-proxy/handler/websocket.go
Due: unittests, API

fix: address remaining lint errors
  cmd/philotes-dagster-proxy/main.go
  internal/api/repositories/dagster_rbac.go
Due: unittests, API

fix: properly handle error returns instead of blank assignment
  internal/dagster-proxy/handler/proxy.go
  internal/dagster-proxy/handler/websocket.go
Due: unittests
