Repository janovincze/philotes: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, API, CDC Pipeline, Iceberg

fix: address PR review comments for Dagster RBAC proxy
  internal/api/handlers/dagster_rbac.go
  internal/api/repositories/dagster_rbac.go
  internal/dagster-proxy/auth/permissions.go
  internal/dagster-proxy/handler/proxy.go
  web/src/app/settings/page.tsx
Due: unittests, API

fix(deps): upgrade quic-go to v0.54.1 to fix CVE-2025-59530
  go.mod
  go.sum
Due: none

feat: end-to-end click-up experience (#94)
  cmd/philotes-api/main.go
  docs/plan/94-end-to-end-click-up/00-issue-context.md
  docs/plan/94-end-to-end-click-up/01-research.md
  docs/plan/94-end-to-end-click-up/02-implementation-plan.md
  docs/plan/94-end-to-end-click-up/99-session-summary.md
  internal/api/services/onboarding.go
  internal/api/services/pipeline.go
  internal/iceberg/catalog/catalog.go
  internal/iceberg/catalog/rest.go
  web/src/app/alerts/page.tsx
  web/src/app/sources/[id]/page.tsx
  web/src/app/sources/new/page.tsx
  web/src/app/sources/page.tsx
  web/src/components/layout/main-nav.tsx
  web/src/lib/api/alerts.ts
  web/src/lib/api/index.ts
  web/src/lib/api/types.ts
  web/src/lib/hooks/use-alerts.ts
Due: unittests, API, Iceberg

fix: address code review findings for issue #94
  internal/api/services/onboarding.go
  internal/api/services/pipeline.go
  web/src/app/sources/page.tsx
Due: unittests, API

fix: address CI lint failures and Copilot review comments
  cmd/philotes-api/main.go
  internal/api/services/onboarding.go
  internal/iceberg/catalog/rest.go
  web/src/app/alerts/page.tsx
  web/src/app/sources/new/page.tsx
  web/src/app/sources/page.tsx
  web/src/lib/hooks/use-alerts.ts
Due: unittests, API, Iceberg

feat(dashboard): data preview in verification step
  docs/plan/100-data-preview-verification/00-issue-context.md
  docs/plan/100-data-preview-verification/02-implementation-plan.md
  docs/plan/100-data-preview-verification/99-session-summary.md
  web/src/app/query/page.tsx
  web/src/components/onboarding/step-data-verification.tsx
Due: none

fix: address Copilot review comments for data preview
  web/src/app/query/page.tsx
  web/src/components/onboarding/step-data-verification.tsx
Due: none

test(dashboard): add Playwright E2E tests for core user journeys
  .github/workflows/ci.yml
  docs/plan/99-e2e-tests-playwright/00-issue-context.md
  docs/plan/99-e2e-tests-playwright/02-implementation-plan.md
  docs/plan/99-e2e-tests-playwright/99-session-summary.md
  tests/e2e/dashboard/fixtures.ts
  tests/e2e/dashboard/global-setup.ts
  tests/e2e/dashboard/pages/base.page.ts
  tests/e2e/dashboard/pages/pipelines.page.ts
  tests/e2e/dashboard/pages/query.page.ts
  tests/e2e/dashboard/pages/quickstart.page.ts
  tests/e2e/dashboard/pipelines.spec.ts
  tests/e2e/dashboard/playwright.config.ts
  tests/e2e/dashboard/query.spec.ts
  tests/e2e/dashboard/quickstart.spec.ts
  web/package.json
  web/pnpm-lock.yaml
  web/src/app/pipelines/page.tsx
  web/src/app/query/page.tsx
  web/src/components/query/results-table.tsx
  web/src/components/quickstart/quickstart-wizard.tsx
  web/src/components/quickstart/step-welcome.tsx
  web/src/components/setup/step-connect.tsx
  web/src/components/setup/step-tables.tsx
Due: none

fix: resolve E2E test failures and pre-existing frontend/backend bugs
  internal/api/services/onboarding.go
  internal/api/services/query.go
  internal/iceberg/catalog/rest.go
  tests/e2e/dashboard/pages/pipelines.page.ts
  tests/e2e/dashboard/pages/query.page.ts
  tests/e2e/dashboard/pages/quickstart.page.ts
  tests/e2e/dashboard/query.spec.ts
  tests/e2e/dashboard/quickstart.spec.ts
  web/src/components/query/query-templates.tsx
  web/src/components/quickstart/step-verify.tsx
  web/src/lib/api/pipelines.ts
  web/src/lib/api/sources.ts
  web/src/lib/hooks/use-query.ts
Due: unittests, API, Iceberg

fix: resolve Docker networking for Lakekeeper→MinIO and add auth-aware onboarding
  cmd/philotes-api/main.go
  deployments/docker/.env.example
  internal/api/handlers/onboarding.go
  internal/api/models/onboarding.go
  internal/api/server.go
  internal/config/config.go
  web/src/components/onboarding/onboarding-wizard.tsx
  web/src/components/onboarding/step-admin-user.tsx
  web/src/lib/api/onboarding.ts
  web/src/lib/api/types.ts
  web/src/lib/hooks/use-onboarding.ts
Due: unittests, API

fix: address Copilot review comments for Docker networking PR
  cmd/philotes-api/main.go
  internal/config/config.go
Due: unittests

feat(dashboard): schema browser with table explorer and data preview
  docs/plan/66-schema-browser/00-issue-context.md
  web/src/app/query/page.tsx
  web/src/components/schema-browser/columns-tab.tsx
  web/src/components/schema-browser/ddl-tab.tsx
  web/src/components/schema-browser/preview-tab.tsx
  web/src/components/schema-browser/schema-browser.tsx
  web/src/components/schema-browser/schema-search.tsx
  web/src/components/schema-browser/schema-tree.tsx
  web/src/components/schema-browser/table-details.tsx
  web/src/lib/hooks/use-query.ts
Due: none

fix: address Copilot review comments and disable E2E tests in CI
  .github/workflows/ci.yml
  web/src/app/query/page.tsx
  web/src/components/schema-browser/ddl-tab.tsx
  web/src/components/schema-browser/preview-tab.tsx
  web/src/components/schema-browser/schema-tree.tsx
  web/src/components/schema-browser/table-details.tsx
  web/src/lib/utils.ts
Due: none

feat(dashboard): SQL editor enhancements — multi-tab, formatting, execute selection
  docs/plan/64-sql-editor-enhancements/00-issue-context.md
  web/package.json
  web/pnpm-lock.yaml
  web/src/app/query/page.tsx
  web/src/components/query/query-tabs.tsx
  web/src/components/query/results-table.tsx
  web/src/components/query/sql-editor.tsx
Due: none

fix: address Copilot review comments for SQL editor PR
  web/package.json
  web/pnpm-lock.yaml
  web/src/app/query/page.tsx
  web/src/components/query/query-tabs.tsx
  web/src/components/query/results-table.tsx
  web/src/components/query/sql-editor.tsx
Due: none

fix: address second round of Copilot review comments
  web/src/app/query/page.tsx
  web/src/components/query/query-tabs.tsx
  web/src/components/query/results-table.tsx
Due: none

feat(query): add query data source management for federation
  cmd/philotes-api/main.go
  deployments/docker/init-scripts/18-query-data-sources-schema.sql
  deployments/docker/trino/config.properties
  docs/plan/70-query-federation/00-issue-context.md
  internal/api/handlers/query_data_source.go
  internal/api/models/query_data_source.go
  internal/api/repositories/query_data_source.go
  internal/api/server.go
  internal/api/services/query.go
  internal/api/services/query_data_source.go
  web/src/app/data-sources/page.tsx
  web/src/components/data-sources/data-source-form.tsx
  web/src/components/layout/main-nav.tsx
  web/src/lib/api/index.ts
  web/src/lib/api/query-data-sources.ts
  web/src/lib/api/types.ts
  web/src/lib/hooks/use-query-data-sources.ts
Due: unittests, API

fix: address Copilot review comments for query data sources
  deployments/docker/init-scripts/18-query-data-sources-schema.sql
  internal/api/handlers/query_data_source.go
  internal/api/repositories/query_data_source.go
  internal/api/services/query_data_source.go
  web/src/app/data-sources/page.tsx
  web/src/components/data-sources/data-source-form.tsx
Due: unittests, API

Path conditions:
  unittests: any of: internal/, but not: cmd/**/*, **/*_test.go, **/mock_*.go, **/mocks/**, test/**
  API: any of: internal/api/**, but not: cmd/**/*, **/*_test.go, **/mock_*.go, **/mocks/**, test/**
  CDC Pipeline: any of: internal/cdc/**, but not: cmd/**/*, **/*_test.go, **/mock_*.go, **/mocks/**, test/**
  Iceberg: any of: internal/iceberg/**, but not: cmd/**/*, **/*_test.go, **/mock_*.go, **/mocks/**, test/**
